<?xml version="1.0"?>
<robot name="mobilerobot" xmlns:xacro="http://www.ros.org/wiki/xacro"> <!-- using xacro is very usefull because we can make reusable variables and functions(macros)-->
    
    <!--This file is the main entry point so it has the robot name-->
    <!--This is modular programming we split out urdfs in multiple files-->
    <xacro:include filename="common_properties.urdf.xacro"/>
    <xacro:include filename="mobile_base.xacro"/>
</robot>